*{
  margin: 0 auto;
  text-align: center;
}

/*index*/
.background{
  background-image: url("imgs/fondo.jpg");
  background-attachment: fixed;
  background-repeat: repeat;
}

.main-container {
  width: 900px;
  padding: 30px;
  text-align: center;
}

/*header*/
.header{
  margin-bottom: 30px;
}

.logo:hover{
  cursor: pointer;
}

.logo{
  width: 150px;
}

/*footer*/
.main-footer{
  margin-top: 30px;
  text-align: center;
  background-color: #333;
  border-radius: 5px;
}

.text-footer{
  color: #fff;
  font-size: 15px;
  font-weight: medium;
  font-family: 'Dosis', sans-serif;
}

.footer-scores{
  padding-left: 20px;
}

.footer-separate{
  padding-left: 20px;
}

.footer-about:hover{
  cursor: pointer;
}

.footer-scores:hover{
  cursor: pointer;
}

/*aboutUs*/
.aboutUs{
  font-family: 'Dosis', sans-serif;
  text-align: center;
  color: #121623;
  font-size: 30px;
}

/*topSscores*/
.topscores-table{
  text-align: center;
}

.topscores-text{
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  text-align: center;
  color: #121623;
  font-size: 30px;
}

.cell-table{
  padding: 20px;
  font-family: 'Dosis', sans-serif;
  color: #121623;
  font-size: 15px;
  font-weight: bold;
  background-blend-mode: grey;
}

/*main*/
.main-state{
  padding: 30px;
}

/*login*/
.container-form {
  width: 900px;
}

.container-form-up {
  display: inline-block;
  width: 400px;
  padding: 20px 0px 0px 35px;
  text-align: left;
  border: 1px solid #f3f2ed;
  border-radius: 5px;
  background-color: #494949 opacity;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-form-in {
  float: right;
  width: 400px;
  padding: 20px 0px 0px 35px;
  text-align: right;
  border: 1px solid #f3f2ed;
  border-radius: 5px;
  background-color: #fcfcfc opacity;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign{
  font-family: 'Dosis', sans-serif;
  margin-right: 30px;
  text-align: center;
  color: #121623;
  font-size: 15px;
  font-weight: bold;
}

.msg-error{
  margin: 10px 50px 20px 20px;
  padding: 5px;
  background-color: #fcfcfc;
  color: #666;
  font-family: 'Dosis', sans-serif;
  font-weight: medium;
  font-size: 15px;
  border: 1px solid #666;
  border-radius: 5px;
}

.has-error {
  border: 1px solid #c3002f;
}

.player-labels{
  font-family: 'Dosis', sans-serif;
  color: #121623;
  font-size: 15px;
  font-weight: bold;
}

.avatar-img{
  height: 40px;
  margin: 5px;
}
.avatar-img:hover{
  cursor: pointer;
}

.radio_item{
  display: none;
}

.radio_item:checked + label {
  opacity: 0.5;
}

.label_item{
  opacity: 1;
}

/*game*/
.list-cards{
  padding:0.2em;
  border: 1px solid #ff9933;
}

.list-cards-card {
    width: 100px;
    height: 130px;
    display: inline-block;
    margin: 0.5em;
    padding:0.2em;
    overflow:hidden;
    text-align: center;
    cursor: pointer;
}

.list-cards-card-img {
    width:100%;
    height: 100%;
    border-radius: 4px;
}

.list-cards-card-title {
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
    position: fixed;
}

/*game-header*/
.header-game-avatar{
  height: 40px;
  margin: 3px;
}

.player-header{
  vertical-align: middle;
}

.guesses-box{
  display: inline-block;
  padding: 5px;
  margin: 15px;
  background-color: #fcfcfc;
  font-family: 'Dosis', sans-serif;
  color: #121623;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #666;
  border-radius: 5px;
}

.misses-box{
  display: inline-block;
  padding: 5px;
  margin: 15px;
  background-color: #c3002f;
  font-family: 'Dosis', sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #666;
  border-radius: 5px;
}

.msg-success {
  display: inline-block;
  margin: 20px;
  padding: 5px;
  background-color: #fcfcfc;
  color: #666;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  font-size: 30px;
  border: 1px solid #666;
  border-radius: 5px;
  animation-delay: 2s;
}