<header>
	<h1 class="header-text">MIEMBROS DEL EQUIPO</h1>
</header>
<table>
	<tr>
    	<td><img class="members-img" src="app/styles/imgs/miguel.jpg"></td>
        <td><img class="members-img" src="app/styles/imgs/jacobo.jpg"></td>
        <td><img class="members-img" src="app/styles/imgs/aida.jpg"></td>
        <td><img class="members-img" src="app/styles/imgs/jose.jpg"></td> 
    </tr>

    <tr>
    	<td class="members-name">
    		<span class="key-name">{</span> MIGUEL <span class="key-name">}</span>
    	</td>
        <td class="members-name">
        	<span class="key-name">{</span> JACOBO <span class="key-name">}</span>
        </td>
        <td class="members-name">
        	<span class="key-name">{</span> AIDA <span class="key-name">}</span>
        </td>
        <td class="members-name">
        	<span class="key-name">{</span> JOSE <span class="key-name">}</span>
        </td>
    </tr>
</table>

    	
