<article>
    <h1 class="topscores-text">TOP SCORES</h1>
    <h1 class="player-labels" ng-show="(viewTopscores.topScores==0)">There are no scores yet!</h1>
    <div ng-hide="(viewTopscores.topScores==0)">
    <table class="topscores-table">
            <tr>
                <td class="player-labels cell-table">POSITION</td>
                <td class="player-labels cell-table">PLAYER</td>
                <td class="player-labels cell-table">MISSES</td> 
            </tr>
            <tr ng-repeat="record in viewTopscores.topRecords"> 
                <td class="player-labels cell-table">{{record.user.position}}</td>
                <td class="player-labels cell-table">{{record.user.firstName + ' ' + record.user.lastName }}</td>
                <td class="player-labels cell-table">{{record.user.score + ' '}}</td>
            </tr>
    </table> 
    </div>
</article>
