<article>
    <h1 class="aboutUs">TOP SCORES</h1>
    <h1 class="aboutUs" ng-show="(viewTopscores.topScores==0)">There are no scores yet!</h1>
    <div ng-hide="(viewTopscores.topScores==0)">
        <div class="scores-table-header">
            <span class="scores-table-column">POS</span>
            <span class="scores-table-column">PLAYER</span>
            <span>MISSES</span>
        </div>
        <div class="player-labels" ng-repeat="record in viewTopscores.topRecords">
            <span class="scores-table-column">{{record.user.position}}</span>
            <img class="avatar-img" ng-src="app/styles/imgs/avatar2.png">
            <span class="scores-table-column">{{record.user.firstName + ' ' + record.user.lastName }}</span>
            <span>{{record.user.score + ' '}}</span>
        </div>
    </div>
    <br>
</article>
