<article>
    <div class="game-subheader">
        <div class="guesses-box"><span>Guessed: {{cardsList.guesses}}</span></div>
        <div class="misses-box"><span>Missed: {{cardsList.misses}}</span></div>
    </div>

    <div class="msg-success" ng-show="cardsList.showSuccessMessage">FRIGOPIE PA TI!!!</div>

    <cards-card ng-repeat="item in cardsList.remainingCards" item-card="item" ng-click="cardsList.actions.showCard(item.id)"></cards-card>
    	<div>
        	<button class="btn btn-default" ng-click="cardsList.actions.startAgain()" type="button">RESTART</button>
        </div>
</article>
