<article>
    <div class="game-subheader">
        <span class="guesses">Guessed: {{cardsList.guesses}}</span><span class="misses">Missed: {{cardsList.misses}}</span>
    </div>

    <div class="msg-success" ng-show="cardsList.showSuccessMessage">CONGRATULATIONS!!!!</div>

    <cards-card ng-repeat="item in cardsList.remainingCards" item-card="item" ng-click="cardsList.actions.showCard(item.id)">
    </cards-card>

    <p>
        <div class="circle-green" ng-click="cardsList.actions.startAgain()">Restart</button>
    </p>
</article>